<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="layout-fixed">
    <div th:fragment="navbar" class="wrapper" role="navigation">
        <div th:replace="fragments/header::hearder">header</div>
        <div th:replace="fragments/left::left">left</div>
        <div th:replace="fragments/sidebar::sidebar">sidebar</div>
        <div th:replace="fragments/header::hearder">header</div>
        <div th:replace="fragments/footer::footer">footer</div>
    </div>
</body>
</html>